

IMPORTANT WARNING: Sequences gi|472342237|ref|YP_007675747.1| and gi|472339758|ref|YP_007673289.1| are exactly identical


IMPORTANT WARNING: Sequences gi|414089325|ref|YP_006989477.1| and gi|414087809|ref|YP_006987992.1| are exactly identical

IMPORTANT WARNING
Found 2 sequences that are exactly identical to other sequences in the alignment.
Normally they should be excluded from the analysis.

Just in case you might need it, an alignment file with 
sequence duplicates removed is printed to file viral_12.afa.reduced


This is RAxML version 8.2.4 released by Alexandros Stamatakis on October 02 2015.

With greatly appreciated code contributions by:
Andre Aberer      (HITS)
Simon Berger      (HITS)
Alexey Kozlov     (HITS)
Kassian Kobert    (HITS)
David Dao         (KIT and HITS)
Nick Pattengale   (Sandia)
Wayne Pfeiffer    (SDSC)
Akifumi S. Tanabe (NRIFS)

Alignment has 227 distinct alignment patterns

Proportion of gaps and completely undetermined characters in this alignment: 14.11%

RAxML Computation of pairwise distances

Using 1 distinct models/data partitions with joint branch length optimization


All free model parameters will be estimated by RAxML
GAMMA model of rate heteorgeneity, ML estimate of alpha-parameter

GAMMA Model parameters will be estimated up to an accuracy of 0.1000000000 Log Likelihood units

Partition: 0
Alignment Patterns: 227
Name: No Name Provided
DataType: AA
Substitution Matrix: JTT
Using fixed base frequencies




RAxML was called as follows:

raxmlHPC-PTHREADS-SSE3 -s viral_12.afa -m PROTGAMMAJTT -f x -T 2 -n dist -p 1256 



Log Likelihood Score after parameter optimization: -2523.509307


Computing pairwise ML-distances ...

Time for pair-wise ML distance computation of 45 distances: 0.007783 seconds

Distances written to file: /media/tneely/74166C81166C45E8/Users/Taylor/Documents/Sync/Work/Dartmouth/Bio 95/GTA_Tool/test_data/orfg12/RAxML_distances.dist
